
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>We are going to have a party</p>
        <p>@ViewBag.hour:@ViewBag.minute.@ViewBag.secs</p>
        <p>@Html.ActionLink("Register", "RegisterForm")</p>
        <p>@Html.ActionLink("Register2", "RegisterForm2")</p>
    </div>
</body>
</html>
